<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<ul>
   <li>Jeno Mozes "jem200@case.edu"</li>
   <li>Xi Wu "xxw289@case.edu"</li>
   <li>Ningzhou Zeng "nxz84@case.edu"</li>
   <li>Eser Tuna "eet12@case.edu"</li>
   <li>Xiaojin Li "xxl509@case.ed"</li>
</ul>